header .iconCart a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .iconCart a:hover{
    color:#fff;
    background: var(--orange);
    transform: rotate(360deg);
}

.cart-Item{
    background: #fff;
    padding: 10px 40px;
    width: 100%;
}


.cart-Item h1{
    font-size: 20px;
    color: var(--black);
    font-weight: bold;
}

.cart-Item h3{
    font-size: 15px;
    color: var(--orange);
    font-weight: 500;
}