header .iconCart a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .iconCart a:hover{
    color:#fff;
    background: var(--orange);
    transform: rotate(360deg);
}