.sub-heading{
    text-align: center;
    color:var(--orange);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.5rem;
    margin-bottom: 100px;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-star{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-star:hover{
    background-color: var(--orange);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--orange);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.SearchIconHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchFoodItems{
    margin-top: 60px;
    margin-bottom: 20px;
}

.searchFoodItems .input-search{
    width: 150%;
    color: var(--black);
    border: 2px solid;
    height: 37px;
    border-radius: 10px;
    padding: 7px 15px;
    font-weight: bold;
}

.foodItemCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodItemDiv{
    display: inline-block;
    margin: 5px 10px;
    border-color: #fff;
}

.foodItemDiv .foodItemCategory{
    color: var(--black);
    font-size: large;
    font-weight: bolder;
    border-style: solid;
    border-color: #fff;
    padding: 10px 10px;
    background-color: #fff;
}

.foodItemDiv button:focus{
    border-bottom-color: var(--orange);
    color: var(--orange);
}

@media screen and (max-width: 600px) {
    
    .searchFoodItems{
        margin-top: 100px;
    }

    .searchFoodItems .input-search{
        width: 700%;
        color: var(--black);
        border: 2px solid;
        height: 37px;
        border-radius: 10px;
        padding: 7px 15px;
        font-weight: bold;
    }

    .menu .box-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:1.5rem;
        margin-bottom: 100px;
    }
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }