.alert_box {
  background: #ffffff;
}

.alert_box h2 {
  color: var(--black);
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert_box i {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
}

.alert_box h5 {
  color: var(--black);
  font-size: 15px;
  margin-top: 20px;
}

.alert_box .alertButton {
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #fff;
  width: 100%;
  background: var(--orange);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertButton:hover {
  background: var(--black);
  transform: rotate(5deg);
}
